{% load settings %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}ddtp.debian.org{% endblock %}</title>

	<link rel="stylesheet" href="http://ddtp.debian.org/debian.css" type="text/css" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}ddtp.css" type="text/css" />
{% block head %}
{% endblock %}
</head>
<body>

{% setting 'DEMO_MODE' as demo_mode %}
{% if demo_mode %}
<div style="width:100%; background:red; color:white">
This DDTP instance is in demo mode. This means that permissions have been
relaxed so that everything is accessable to everyone. Any changes here are
not used in the real DDTP, this is just so people can test it.
<br>
Please send any feedback to the debian-i18n@l.d.o mailing list.
</div>
{% endif %}
<div id="header">
        <div id="upperheader">
                <div id="logo">
                        <a href="http://www.debian.org/" title="Debian Home"><img src="http://ddtp.debian.org/openlogo-50.png" alt="Debian" width="50" height="61" /></a>
                </div>
                <p class="section"><a href="/">ddtp</a></p>
		
        </div>

        <div id="navbar">
                <p class="hidecss"><a href="#inner">Skip Quicknav</a></p>
                <ul>
                   <li><a href="http://www.debian.org/intro/about">About Debian</a></li>
                   <li><a href="http://www.debian.org/international/l10n/ddtp">About DDTP</a></li>
                   <li><a href="{% url ddtss_index %}">Contribute</a></li>
                   <li><a href="http://wiki.debian.org/I18n/DDTP2">For Developers</a></li>
                </ul>
        </div>
	<p id="breadcrumbs">{% block breadcrumbs %}ddtp.debian.org{% endblock %}</p>
</div> 
<div id="content">
{% block body %}{% endblock %}
</div>
</body>
</html>
