{% extends "base.html" %}

{% block body %}
DDT (
    <a href="{% url ddt_overview '0' %}"> 0 </a> |
    <a href="{% url ddt_overview '1' %}"> 1 </a> |
    <a href="{% url ddt_overview '2' %}"> 2 </a> |
    <a href="{% url ddt_overview '3' %}"> 3 </a> |
    <a href="{% url ddt_overview '4' %}"> 4 </a> |
    <a href="{% url ddt_overview '5' %}"> 5 </a> |
    <a href="{% url ddt_overview '6' %}"> 6 </a> |
    <a href="{% url ddt_overview '7' %}"> 7 </a> |
    <a href="{% url ddt_overview '8' %}"> 8 </a> |
    <a href="{% url ddt_overview '9' %}"> 9 </a> |
    <a href="{% url ddt_overview 'a' %}"> A </a> |
    <a href="{% url ddt_overview 'b' %}"> B </a> |
    <a href="{% url ddt_overview 'c' %}"> C </a> |
    <a href="{% url ddt_overview 'd' %}"> D </a> |
    <a href="{% url ddt_overview 'e' %}"> E </a> |
    <a href="{% url ddt_overview 'f' %}"> F </a> |
    <a href="{% url ddt_overview 'g' %}"> G </a> |
    <a href="{% url ddt_overview 'h' %}"> H </a> |
    <a href="{% url ddt_overview 'i' %}"> I </a> |
    <a href="{% url ddt_overview 'j' %}"> J </a> |
    <a href="{% url ddt_overview 'k' %}"> K </a> |
    <a href="{% url ddt_overview 'l' %}"> L </a> |
    <a href="{% url ddt_overview 'm' %}"> M </a> |
    <a href="{% url ddt_overview 'n' %}"> N </a> |
    <a href="{% url ddt_overview 'o' %}"> O </a> |
    <a href="{% url ddt_overview 'p' %}"> P </a> |
    <a href="{% url ddt_overview 'q' %}"> Q </a> |
    <a href="{% url ddt_overview 'r' %}"> R </a> |
    <a href="{% url ddt_overview 's' %}"> S </a> |
    <a href="{% url ddt_overview 't' %}"> T </a> |
    <a href="{% url ddt_overview 'u' %}"> U </a> |
    <a href="{% url ddt_overview 'v' %}"> V </a> |
    <a href="{% url ddt_overview 'w' %}"> W </a> |
    <a href="{% url ddt_overview 'x' %}"> X </a> |
    <a href="{% url ddt_overview 'y' %}"> Y </a> |
    <a href="{% url ddt_overview 'z' %}"> Z </a> )
<br>
{% block content %}{% endblock %}
{% endblock %}