{% extends "base_ddtp.html" %}

{% block title %}Debian Description Tracking  --- milestones for {{lang.language}}{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}ddtss/ddtss.css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="http://cachedcommons.org/cache/jquery-table-sorter/2.0.3/javascripts/jquery-table-sorter-min.js"></script>
<script type="text/javascript" id="js">$(document).ready(function() {
        // call the tablesorter plugin
        $("#table").tablesorter();
}); </script>
{% endblock %}
{% block content %}
<h1>milestones for {{lang.language}}</h1>
<a href="{% url ddtss_index_lang lang.language %}">back to team page {{lang.language}}</a><br>
<table id="milestonetable" cellspacing="1" class="tablesorter">
<thead>
<tr><th>milestone</th> <th>translated</th> <th>pending</th>  <th>total</th> <th>progress</th></tr>
</thead>
<tbody>
{% for milestone, milestoneinfo in milestones %}
<tr class="{% cycle 'odd' 'even' %}">
    <td><a href="{% url ddt_stats_one_milestones_lang lang.language milestone %}">{{milestone}}</a>
        <a href="{% url ddtss_addusermilestone 'mile' milestone %}">
            <img src="/media/user_milestone-plus.png" alt="Hight" title="add whole milestone to user milestone" height="15"></a>
{% if user.is_coordinator %}
        <a href="{% url ddtss_addlangmilestone 'mile' milestone %}">
            <img src="/media/lang_milestone-plus.png" alt="Hight" title="add whole milestone to lang milestone" height="15"></a>
{% endif %}
    </td>
    <td align='right'>{{milestoneinfo.translated}}</td>
    <td align='right'>{{milestoneinfo.pending}}</td>
    <td align='right'> {{milestoneinfo.total}}</td>
    <td> <div class="progress_bar">
            <strong>{{milestoneinfo.percent}}%</strong>
            <span style="width: {{milestoneinfo.percent}}%;">&nbsp;</span>
        </div>
    </td></tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
