{% extends "base_ddtp.html" %}

{% block title %}Debian Description Tracking  --- {{ prefix }} ---{% endblock %}

{% block content %}
<h3>{{ prefix }}</h3>
{% for package, descriptions in packages %}
<h4><a href="{% url ddt_package package %}">{{ package }}</a></h4>
    {% for descr_id, tags in descriptions %}
        <a href="{% url ddt_descr descr_id %}">{{ descr_id }}</a>:
        {% for tag in tags %}
            {{ tag.tag }}: {{tag.date_begin|date:"Y-m-d"}}...{{ tag.date_end|date:"Y-m-d" }};
        {% endfor %}
        <br>
    {% endfor %}
{% endfor %}
{% endblock %}
