{% extends "base_ddtp.html" %}

{% block title %}Debian Description Tracking  --- part: {{part_md5}} - lang: {{lang}} ---{% endblock %}

{% block content %}
<h2>{{part_md5}}</h2>
{% for part in parts %}
<h3><a href="{% url ddt_onepart part_md5 part.language %}">{{part_md5}} in {{part.language}}</a></h3>
<pre>
{{part.part}}
</pre>
{% endfor %}
<h3>Descriptions with this part:</h3>
<pre>
{% for descr in descrs %} <a href="{% url ddt_descr descr.description_id %}">{{descr.description_id}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
</pre>
{% endblock %}
