{% extends "ddtss/base_ddtss.html" %}

{% block title %}
DDTSS Administration
{% endblock %}

{% block ddtss_head %}
<script type="text/javascript">//<![CDATA[
$(document).ready(function($) {
    setup_messagelinks();
})
//]]></script>
{% endblock %}

{% block content %}
<h1>DDTSS Administration</h1>
<p>
<table class="langlist"><col width="150px" /><col width="150px" /><col width="150px" /><col width="150px"/>
<tr><th>Language</th> <th>Name</th> <th>Enabled</th></tr>
{% for lang in languages %}
<tr class="{% cycle 'odd' 'even' %}">
   <td><a href="{% url ddtss_admin_lang lang.language %}">{{ lang.language }}</a></td>
   <td align="left">{{lang.fullname}}</td>
   <td align="center">{% if lang.enabled_ddtss %}Yes{%else%}No{%endif%}</td>
</tr>
{% endfor %}
</table>
<p>
Superusers have permission to modify the list of languages and add/remove
language coordinators. They however have no special permissions with respect
to individual languages.
<table class="langlist"><col width="150px" /><col width="150px" />
<tr><th>Admin</th> <th>Name</th></tr>
{% for admin in admins %}
<tr class="{% cycle 'odd' 'even' %}">
   <td>{{ admin.username }}</td>
   <td>{{ admin.realname }}</td>
</tr>
{% endfor %}
</table>
<p>
<a class="messagelink" target="_blank" href="{% url ddtss_message %}">New project message</a> |
{% endblock %}
