{% extends "ddtss/base_ddtss.html" %}

{% block title %}
DDTSS Admin language {{lang.language}}
{% endblock %}

{% block content %}
<h1>DDTSS Admin language {{lang.language}}</h1>
<p>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
<p>
{% endif %}
<form method="post" action="{% url ddtss_admin_lang lang.language %}" enctype="multipart/form-data">
<table id="login">
{{form}}
</table>
<input type="submit" name="submit" value="Submit" />
<input type="submit" name="cancel" value="Cancel" />
</form>
<p>
Coordinators:
<table id="coordinators">
<tr><th>Username</th><th>Name</th><th></th></tr>
{% for user in lang.coordinators %}
<form method="post" action="{% url ddtss_admin_lang lang.language %}">
<tr class="{% cycle 'odd' 'even' %}">
  <td>{{user.username}}</td>
  <td>{{user.realname}} ({{user.email}})</td>
  <td><button type="submit" name="del" value="{{user.username}}">Remove</button>
</tr>
</form>
{% endfor %}
<form method="post" action="{% url ddtss_admin_lang lang.language %}">
<tr>
  <td colspan=2><input name="username" type="text"></td>
  <td><button type="submit" name="add" value="Add">Add</button></td>
</tr>
</form>
</table>
{% endblock %}
