{% extends "ddtss/base_ddtss.html" %}

{% block title %}
DDTSS Language Coordination {{lang.language}}
{% endblock %}

{% block ddtss_head %}
<script type="text/javascript">//<![CDATA[
$(document).ready(function($) {
    setup_messagelinks();
})
//]]></script>
{% endblock %}

{% block content %}
<h1>DDTSS Language Coordination {{lang.language}}</h1>
<p>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
<p>
{% endif %}
Coordinators:
<table id="coordinators">
<tr><th>Username</th><th>Name</th><th></th></tr>
{% for user in lang.coordinators %}
<tr class="{% cycle 'odd' 'even' %}">
  <td>{{user.username}}</td>
  <td>{{user.realname}} ({{user.email}})</td>
</tr>
{% endfor %}
</table>
<p>
<a class="messagelink" target="_blank" href="{% url ddtss_message_lang lang.language %}">New Team message</a> |
<p>
<form method="post" action="{% url ddtss_coordinate_lang lang.language %}" enctype="multipart/form-data">
{% for errors in form.errors.itervalues %}
{{errors}}
{% endfor %}
Milestones for the language:
<table id="coordinator_milestones">
<tr><th>high milestone</th><td>{{form.milestone_high}}</td></tr>
<tr><th>medium milestone</td><td>{{form.milestone_medium}}</td></tr>
<tr><th>low milestone</td><td>{{form.milestone_low}}</td></tr>
</table>
Scores for controlling the acceptence of translations:
<table id="coordinator_scores">
<tr><th></th><th>Translate</th><th>Review</th></tr>
<tr><th>Trusted user/Coordinator</th><td>{{form.ct}}</td><td>{{form.cr}}</td></tr>
<tr><th>Logged-in user</th><td>{{form.lt}}</td><td>{{form.lr}}</td></tr>
<tr><th>Anonymous user</th><td>{{form.at}}</td><td>{{form.ar}}</td></tr>
<tr><th>Stability bonus</th><td>{{form.stable}}</td><td>(per week)</td></tr>
<tr><th>Acceptence threshold</th><td>{{form.accept}}</td><td><input type=submit name="update" value="Update"></td></tr>
</table>

Rules:
<ul>
<li>Acceptence always requires at least one review.
<li>Trusted users must score greater than or equal to logged-in users, which
must be greater than or equal to anonymous users.
<li>A score of -1 means that type of user is forbidden to do that task.
<li>A score of 0 means the user may do it, but has no effect on acceptence
of translation.
<li>Stability bonus means that translation where nothing has happened for a
while will gain point which may trigger acceptence. Setting to zero disables.
One review is still required.
<li>When the score of a translation reaches the threshold it is accepted
(there may be a delay).
</ul>
</form>
<p>
Trusted users:
<table id="trustedusers">
<tr><th>Username</th><th>Name</th><th></th></tr>
{% for user in lang.trusted_users %}
<form method="post" action="{% url ddtss_coordinate_lang lang.language %}">
<tr class="{% cycle 'odd' 'even' %}">
  <td>{{user.username}}</td>
  <td>{{user.realname}} ({{user.email}})</td>
  <td><button type="submit" name="del" value="{{user.username}}">Remove</button>
</tr>
</form>
{% endfor %}
<form method="post" action="{% url ddtss_coordinate_lang lang.language %}">
<tr>
  <td colspan=2><input name="username" type="text"></td>
  <td><button type="submit" name="add" value="Add">Add</button></td>
</tr>
</form>
</table>
<h2>the collection of the language milestone lang:{{lang.language}}</h2>
        <ul>
    {% for collectionmilestone in collectionmilestones %}
    <li>{{ collectionmilestone.collection }} <a href="{% url ddtss_delusermilestone collectionmilestone.collection %}">
        <img src="/media/lang_milestone-minus.png" alt="Hight" title="remove from lang milestone" height="15"></a> </li>
    {% endfor %}
        </ul>
{% endblock %}
