{% extends "ddtss/base_ddtss.html" %}

{% block title %}
DDTSS ({{lang.language}})
{% endblock %}

{% block ddtss_head %}
<script language="javascript" type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/flot/0.7/jquery.flot.min.js"></script>
<script type="text/javascript">//<![CDATA[
function toggle_age() {
    var age_fields = document.getElementsByName("showage");
    for(i=0, l=age_fields.length; i<l; i++) {
        if(age_fields[i].style.display == "inline") {
            age_fields[i].style.display = "none";
        }
        else {
            age_fields[i].style.display = "inline";
        }
    }
}

function toggle_size() {
    var size_fields = document.getElementsByName("showsize");
    for(i=0, l=size_fields.length; i<l; i++) {
        if(size_fields[i].style.display == "inline") {
            size_fields[i].style.display = "none";
        }
        else {
            size_fields[i].style.display = "inline";
        }
    }
}

$(document).ready(function($) {
    setup_messagelinks();
})
//]]></script>
{% endblock %}

{% block content %}
<h1>DDTSS for {{lang.language}} {% if lang.fullname %}({{lang.fullname}}){% endif %}</h1>

<!-- Project Messages -->
{% for message in global_messages %}
{% if forloop.first %}
<div class=messages>
    <h2>Project-Messages<div class="help" title="Project Messages for the DDTP">?</div>  </h2>
{% if user.is_superuser %}
    <a class="messagelink" target="_blank" href="{% url ddtss_message %}">New global message</a>
{% endif %}
    <ul>
{% endif %}
        <li>
            <b title="{{message.parent.message}}">{{message.message}}</b><br>
            <span style="font-size:80%">
                from {{message.from_user}}
                at {{message.datetime|date:"Y-m-d H:i:s"}}
                {% if user.is_superuser %}<a href="{% url ddtss_delmessage message.message_id %}">Delete</a>{% endif %}
                <a class="messagelink" target="_blank" href="{% url ddtss_message_user message.from_user %}?in_reply_to=message.message_id">Reply</a>
            </span>
        </li>
{% if forloop.last %}
    </ul>
</div>
{% endif %}
{% empty %}
{% endfor %}
<!-- End Project Messages -->


{% if not user.logged_in %}
<span style="font-size:120%">
    <b>You can use all the features only when logged in! Please <a href="login">Login</a></b>
</span>
<p><a href="http://www.debian.org/international/l10n/ddtp#rules">Common translation rules</a></p>
{% endif %}


Coordinators for {{lang.language}}:
{% for user in lang.coordinators %} <a class="messagelink" target="_blank" href="{% url ddtss_message_user user.username %}">{{user.username}}</a>
{%if not forloop.last%}, {% endif %}
{% empty %}(None){% endfor %}
<p>

{# These message are the Django messages #}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<!-- Team Messages -->
{% for message in team_messages %}
{% if forloop.first %}
<div class=messages>
    <h2>Team Messages<div class="help" title="Team Messages">?</div>  </h2>
    {% if user.is_coordinator %}
    <a class="messagelink" target="_blank" href="{% url ddtss_message_lang lang.language %}">New team message</a>
    {% endif %}
    <ul>
{% endif %}
        <li>
            <b title="{{message.parent.message}}">{{message.message}}</b><br>
            <span style="font-size:80%">
                from {{message.from_user}}
                at {{message.datetime|date:"Y-m-d H:i:s"}}
                <a href="{% url ddtss_delmessage message.message_id %}">Delete</a>
                <a class="messagelink" target="_blank" href="{% url ddtss_message_user message.from_user %}?in_reply_to={{message.message_id}}">Reply</a>
            </span>
        </li>
{% if forloop.last %}
    </ul>
</div>
{% endif %}
{% empty %}
{% endfor %}
<!-- End Team Messages -->

<!-- Milestones -->
{% if milestones %}
<table id="milestonetable" cellspacing="1" class="tablesorter" width='100%'>
<thead>
<tr><th>Type</th><th>Milestone</th> <th>Translated</th> <!--<th>Pending</th>--> <th>Total</th> <th>Progress</th></tr>
</thead>
<tbody>
{% for milestoneinfo in milestones %}
<tr class="{% cycle 'odd' 'even' %}">
    <td><img src="/media/{{milestoneinfo.type}}.png" height="15">{{milestoneinfo.typename}}</td>
    <td><a href="{% url ddt_stats_one_milestones_lang lang.language milestoneinfo.name %}">{{milestoneinfo.name}}</a></td>
    <td align='right'>{{milestoneinfo.translated}}</td>
<!--    <td align='right'>{{milestoneinfo.pending}}</td> -->
    <td align='right'> {{milestoneinfo.total}}</td>
    <td> <div class="progress_bar">
            <strong>{{milestoneinfo.percent|floatformat}}%</strong>
            <span style="width: {{milestoneinfo.percent}}%;">&nbsp;</span>
        </div>
    </td>
    <td><div onclick="set_milestone_chart('{{milestoneinfo.typename}} milestone', '{% url ddtss_flot_milestone_data lang.language milestoneinfo.name %}')">Chart</div></td>
    </tr>
{% endfor %}
</tbody>
</table>

<div id="flot_chart" style="display:none">
   <h3 id="flot_title" style="width:100%; text-align:center"></h3>
   <div id="flot_graph" style="width:100%;height:150px"></div>
</div>
<!-- End Milestones -->
{% endif %}


<table>
    <col width="60%" /><col width="40%" />
<tr>
  <td valign='top' >
  <div class=untranslated>
  <h2>Pending translation ({{ pending_translations|length }})
    <div class="help" title="List of descriptions needing translation. When you select a description, it will be locked for you for 15 minutes.">?</div>
  </h2>
  <ol>
{% for trans in pending_translations %}
{% if forloop.first %}<ol>{% endif %}
    <li>
    <span name="showsize" style="display:none"> ({{trans.description.description|wordcount }})</span>
    <a href="{% url ddtss_translate lang.language trans.description_id %}">{{trans.description.package}}</a>

{% for mile in trans.description.milestones %}
{% if mile.milestone == lang.milestone_high %}<img src="/media/lang_milestone_high.png" alt="Height" title="Hight Team Milestone" height="15"> {% endif %}
{% if mile.milestone == lang.milestone_medium %}<img src="/media/lang_milestone_medium.png" alt="Medium" title="Medium Team Milestone" height="15"> {% endif %}
{% if mile.milestone == lang.milestone_low %}<img src="/media/lang_milestone_low.png" alt="Low" title="Low Team Milestone" height="15"> {% endif %}
{% if mile.milestone == user.milestone %}<img src="/media/user_milestone.png" alt="User" title="User Milestone" height="15"> {% endif %}
{% endfor %}
    {% if trans.description.description_id in involveddescriptions %}<img src="/media/red-star.svg" alt="Involved" title="Involved" height="15"> {% endif %}

<span name="showage" style="display:none"> ({{trans.age}})</span>
    {% if trans.is_locked %} (locked){% endif %}</li>
{% if forloop.last %}</ol>{% endif %}
{% empty %}
    None
{% endfor %}
  </ol>
  </div>

  <h4>Fetch specific description
    <div class="help" title="Get a specific description to translate. Normally it won't fetch descriptions already translated, use force to override.">?</div>
  </h4>
  <form method="post" action="{% url ddtss_index_lang lang.language %}" enctype="multipart/form-data" accept-charset="utf-8">
    <input name="package" type="text" />
    <label><input type="checkbox" name="force" value="yes" id="force" /></label>
    <label for="force">Force fetching even if not untranslated</label>
    <div>
      <input type="hidden" name=".cgifields" value="force"  />
    </div>
  </form>
  <a href="{% url ddt_stats_milestones_lang lang.language %}">Fetch using milestones</a>

  <div class=forreview>
  <h2>Pending review ({{ pending_review|length }})
    <div class="help" title="List of translations that need review. Note: it may ask you review something you already reviewed. This is because someone has changed it.">?</div>
  </h2>
  <ol>
{% for trans in pending_review %}
{% if forloop.first %}<ol>{% endif %}
    <li>
    <span name="showsize" style="display:none"> ({{trans.description.description|wordcount }})</span>
    <a href="{% url ddtss_forreview lang.language trans.description_id %}?iter={{trans.iteration}}">{{trans.description.package}}</a>

{% for mile in trans.description.milestones %}
{% if mile.milestone == lang.milestone_high %}<img src="/media/lang_milestone_high.png" alt="Hight" title="Hight Team Milestone" height="15"> {% endif %}
{% if mile.milestone == lang.milestone_medium %}<img src="/media/lang_milestone_medium.png" alt="Medium" title="Medium Team Milestone" height="15"> {% endif %}
{% if mile.milestone == lang.milestone_low %}<img src="/media/lang_milestone_low.png" alt="Low" title="Low Team Milestone" height="15"> {% endif %}
{% if mile.milestone == user.milestone %}<img src="/media/user_milestone.png" alt="User" title="User Milestone" height="15"> {% endif %}
{% endfor %}

<span name="showage" style="display:none"> ({{trans.age}})</span>
    {% if trans.reviews|length %}(had {{trans.reviews|length}} review){% else %}(needs initial review){% endif %}
    {% if trans.description.description_id in involveddescriptions %}<img src="/media/red-star.svg" alt="Involved" title="Involved" height="15"> {% endif %}

    </li>
{% if forloop.last %}</ol>{% endif %}
{% empty %}
    None
{% endfor %}
  </ol>
  </div>
<!-- Suggestions not yet done
<div class=suggestion>
<h2>Suggestions (2)  <div class="help" title="List of suggestions that need review.">?</div>

</h2><ol><li><a href="/ddtss/index.cgi/suggestion/11273">junior-games-gl</a> externalreview 2010-08-18</li> </ol></div>
-->
</td>
<td valign='top' >
<div class=infobox>
<h2>Infos about : <div class="help" title="About your account, some stats,....">?</div>
</h2><ul>
<li><button onclick="toggle_size(); return false;" class="button_as_link">Toggle display size</button></li>
<li><button onclick="toggle_age(); return false;" class="button_as_link">Toggle display ages</button></li>
{% if user.logged_in %}
<li>Translations: {{user.counttranslations}}</li>
<li>Reviews: {{user.countreviews}}</li>
<li><div onclick="set_user_chart('{% url ddtss_flot_thisuser_data %}')">Chart</div></li>
{% endif %}
</ul>
</div>
<div class=messages>
    <h2>Messages for you<div class="help" title="Messages from other users for you">?</div>  </h2>
{% for message in user_messages %}
{% if forloop.first %}<ul>{% endif %}
    <li>
        <b title="{{message.parent.message}}">{{message.message}}</b><br>
        <span style="font-size:80%">
            from {{message.from_user}}
            {% if message.for_description %}
            to the description <a href="{% url ddtss_forreview message.language message.for_description %}">{{message.description.package}}({{message.language}})</a>
            {% endif %}
            at {{message.datetime|date:"Y-m-d H:i:s"}} <a href="{% url ddtss_delmessage message.message_id %}">Delete</a>
            <a class="messagelink" target="_blank" href="{% url ddtss_message_user message.from_user %}?in_reply_to={{message.message_id}}">Reply</a>
        </span>
    </li>
{% if forloop.last %}</ul>{% endif %}
{% empty %}
    None
{% endfor %}
</div>
  <div class=reviewed>
  <h2>Reviewed by you ({{ reviewed|length }})
    <div class="help" title="List of translations you have already reviewed. You can still make changes though.">?</div>
  </h2>
{% for trans in reviewed %}
{% if forloop.first %}<ol>{% endif %}
    <li>
    <span name="showsize" style="display:none"> ({{trans.description.description|wordcount }})</span>
    <a href="{% url ddtss_forreview lang.language trans.description_id %}?iter={{trans.iteration}}">{{trans.description.package}}</a>

{% for mile in trans.description.milestones %}
{% if mile.milestone == lang.milestone_high %}<img src="/media/lang_milestone_high.png" alt="Hight" title="Hight Team Milestone" height="15"> {% endif %}
{% if mile.milestone == lang.milestone_medium %}<img src="/media/lang_milestone_medium.png" alt="Medium" title="Medium Team Milestone" height="15"> {% endif %}
{% if mile.milestone == lang.milestone_low %}<img src="/media/lang_milestone_low.png" alt="Low" title="Low Team Milestone" height="15"> {% endif %}
{% if mile.milestone == user.milestone %}<img src="/media/user_milestone.png" alt="User" title="User Milestone" height="15"> {% endif %}
{% endfor %}
    {% if trans.description.description_id in involveddescriptions %}<img src="/media/red-star.svg" alt="Involved" title="Involved" height="15"> {% endif %}

<span name="showage" style="display:none"> ({{trans.age}})</span>
    {% if trans.owner_username == user.username %}(owner){% endif %}</li>
{% if forloop.last %}</ol>{% endif %}
{% empty %}
    None
{% endfor %}
  </div>
  <div class=translated>
  <h2>Recently translated
    <div class="help" title="Recently translated descriptions">?</div>
  </h2>
{% if recently_translated %}
<ol>
  {% for message in recently_translated %}
  <li>{{ message.description.package }} ({{ message.datetime|date:"r" }})</li>
  {% endfor %}
</ol>
{% else %}
    None
{% endif %}
</div>
</td></tr>
</table>
<a href="{% url ddtss_index_lang lang.language %}">Refresh</a> |
<a href="{% url ddtss_index_lang 'xx' %}">Another language</a> |
<a href="/ddtss/index.cgi/nl/wordlist">Wordlist</a> |
<a href="http://www.debian.org/international/l10n/ddtp">DDTP documentation</a> |
<a href="http://www.debian.org/international/l10n/ddtp#rules">Common translation rules</a> |
{% if user.logged_in %}
<a href="{% url ddtss_logout %}">Logout</a>
{% else %}
<a href="{% url ddtss_login %}">Login</a> |
<a href="{% url ddtss_create_user %}">Create Login</a>
{% endif %}
{% endblock %}
