{% extends "ddtss/base_ddtss.html" %}

{% block title %}
DDTSS login
{% endblock %}

{% block content %}
<h1>DDTSS login</h1>
<p>
A login on the DDTSS is not in general required. However, certain language
teams may require a login to be able to contribute.
</p>
<p>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
<p>
{% endif %}
<p>
(To create a account go to <a href="{% url ddtss_create_user %}">Create Login</a>)
</p>
<form method="post" action="{% url ddtss_login %}" enctype="multipart/form-data">
<table id="login">
{{form}}
</table>
<input type="submit" name="submit" value="Submit" />
<input type="submit" name="cancel" value="Cancel" />
</form>
<br>Common <a href="http://openid.net/get-an-openid/">OpenID providers</a>:
<ul>
<li>https://www.google.com/accounts/o8/id
<li>http://{username}.livejournal.com/
<li>http://{username}.wordpress.com/
<li>http://{username}.blogspot.com/
<li>http://facebook-openid.appspot.com/
<li>Your own OpenID provider.
</ul>
{% endblock %}
