{% extends "ddtss/base_ddtss.html" %}

{% block title %}
DDTSS
{% endblock %}

{% block content %}
<h1>{{msg}}</h1>
<ul>
</ul>
{% if close %}
<form action=""> <input type="button" value="close window" onclick="window.close()"> </form>
{% else %}
<a href="{{url}}">Continue</a>
{% endif %}
{% endblock %}
