{% extends "ddtss/base_ddtss.html" %}

{% block title %}
DDTSS ({{lang.language}}): Translating {{descr.package}}
{% endblock %}

{% block ddtss_head %}
<script type="text/javascript">//<![CDATA[
function showshortdiff (url) {
    var boxes = document.getElementsByName("shortboxes");
    for(i=0, l=boxes.length; i<l; i++) {
        boxes[i].style.display = "none";
    }
 /* Coded like this to avoid errors on 'None' */
 box = document.getElementById(url)
 if(box) box.style.display='block'
 return false;
}

function showlongdiff (url) {
    var boxes = document.getElementsByName("longboxes");
    for(i=0, l=boxes.length; i<l; i++) {
        boxes[i].style.display = "none";
    }
 box = document.getElementById(url)
 if(box) box.style.display='block'
 return false;
}

function toggle_ShowShortDescr() {
    var ShowDescr_fields = document.getElementsByName("ShowShortDescr");
    for(i=0, l=ShowDescr_fields.length; i<l; i++) {
        if(ShowDescr_fields[i].style.display == "block") {
            ShowDescr_fields[i].style.display = "none";
        }
        else {
            ShowDescr_fields[i].style.display = "block";
        }
    }
    return false;
}

function toggle_ShowLongDescr() {
    var ShowDescr_fields = document.getElementsByName("ShowLongDescr");
    for(i=0, l=ShowDescr_fields.length; i<l; i++) {
        if(ShowDescr_fields[i].style.display == "block") {
            ShowDescr_fields[i].style.display = "none";
        }
        else {
            ShowDescr_fields[i].style.display = "block";
        }
    }
    return false;
}

$(document).ready(function($) {
    $("#submit").prop('disabled',true);
    setup_messagelinks();
})
//]]></script>
{% endblock %}

{% block content %}

{% if not forreview %}
<h1>
  <font color="red">Note: If you decide not to go ahead with translating a
description, please hit &#39;Abandon&#39; below so others can have a
go</font>
</h1>
{% endif %}
<h1>Translating {{descr.package}}</h1>
<ul>
  <li><tt># Source: {{descr.source}}</tt></li>
<!--  <li><tt># Package(s): fmit</tt></li> -->
  <li><tt># Prioritize: {{descr.prioritize}}</tt></li>
  <li><tt># Versions: {{descr.nice_package_versions}}</tt>
</li>
</ul>

<table>
<tr><td valign="top">

{% if forreview %}
<form method="post" action="{% url ddtss_forreview lang.language descr.description_id %}" enctype="multipart/form-data" accept-charset="utf-8">
{% else %}
<form method="post" action="{% url ddtss_translate lang.language descr.description_id %}" enctype="multipart/form-data" accept-charset="utf-8">
{% endif %}
<h5>Short description</h5>
<button onclick="return showshortdiff('None')" class="button_as_link">None</button> |
{% if diff_short %}
<button onclick="return showshortdiff('show-short-change-diff')" class="button_as_link">Show Diff Changes</button> |
{% endif %}
{% for olddiff in olddiffs %}
<button onclick="return showshortdiff('show-short-diff-{{olddiff.oldid}}')" class="button_as_link">Show diff to {{olddiff.oldid}}</button> |
{% if forloop.last %}
<button onclick="return toggle_ShowShortDescr();" class="button_as_link">(toggle full show)</button>
{% endif %}
{% endfor %}
<p>
<ul>
  <li>Untranslated:  <tt>{{descr.short}}</tt></li>
{% if diff_short %}
<span name="shortboxes" id="show-short-change-diff" style="display:none;border-style:solid;border-width:thin">
  <li><div class='diff'>Diff to previous revision <span class='old'>(Old Version)</span><span class='new'>(New Version)</span><br>
    <pre>{% for type, text in diff_short %}<span class='{{type}}'>{{text}}</span>{%endfor%}</pre></li>
</span>
{% endif %}
{% for olddiff in olddiffs %}
<span name="shortboxes" id="show-short-diff-{{olddiff.oldid}}" style="display:none;border-style:solid;border-width:thin">
    <li><div class='diff'>Diff to description {{descr_id}} <span class='old'>(Old Version)</span><span class='new'>(New Version)</span><br>
<pre>{% for type, text in olddiff.diff_short %}<span class='{{type}}'>{{text}}</span>{%endfor%}</pre>
---
<pre>{% for type, text in olddiff.diff_transshort %}<span class='{{type}}'>{{text}}</span>{%endfor%}</pre>
<span name="ShowShortDescr" style="display:none;border-style:solid;border-width:thin;background-color:#CCCCCC;">
English:
<pre><span class='old' >{{olddiff.oldshort}}</span>
<span class='new' >{{olddiff.short}}</span></pre>
Translated:
<pre><span class='old' >{{olddiff.oldtransshort}}</span>
<span class='new' >{{olddiff.transshort}}</span></pre>
</span>
</div>
    </li>
</span>
{% endfor %}
  <li>Translated ({{lang.language}}):  <input type="text" name="short" value="{{trans.display_short}}" size="75" onchange="document.forms[0].submit.disabled=0" spellcheck="true" /></div></li>
</ul>
<h5>Long description</h5>
<button onclick="return showlongdiff('None')" class="button_as_link">None</button> |
{% if diff_long %}
<button onclick="return showlongdiff('show-long-change-diff')" class="button_as_link">Show Diff Changes</button> |
{% endif %}
{% for olddiff in olddiffs %}
<button onclick="return showlongdiff('show-long-diff-{{olddiff.oldid}}')" class="button_as_link">Show Diff to {{olddiff.oldid}}</button> |
{% if forloop.last %}
<button onclick="return toggle_ShowLongDescr();" class="button_as_link">(toggle full show)</button>
{% endif %}
{% endfor %}
<p>
(Note: You must preserve the number of paragraphs)
<ul>
  <li>Untranslated:  <pre>{{descr.long}}</pre></li>
{% if diff_long %}
<span name="longboxes" id="show-long-change-diff" style="display:none;border-style:solid;border-width:thin">
    <li> <div class='diff'>Diff to previous revision <span class='old'>(Old Version)</span><span class='new'>(New Version)</span><br>
    <pre>{% for type, text in diff_long %}<span class='{{type}}'>{{text}}</span>{%endfor%}</pre></div></li>
</span>
{% endif %}
{% for olddiff in olddiffs %}
<span name="longboxes" id="show-long-diff-{{olddiff.oldid}}" style="display:none;border-style:solid;border-width:thin">
    <li> <div class='diff'>Diff to description {{descr_id}} <span class='old'>(Old Version)</span><span class='new'>(New Version)</span><br>
<pre>{% for type, text in olddiff.diff_long %}<span class='{{type}}'>{{text}}</span>{%endfor%}</pre>
---
<pre>{% for type, text in olddiff.diff_translong %}<span class='{{type}}'>{{text}}</span>{%endfor%}</pre>
<span name="ShowLongDescr" style="display:none;border-style:solid;border-width:thin;background-color:#CCCCCC;">
English:
<pre><span class='old' >{{olddiff.oldlong}}</span>
<span class='new' >{{olddiff.long}}</span></pre>
Translated:
<pre><span class='old' >{{olddiff.oldtranslong}}</span>
<span class='new' >{{olddiff.translong}}</span></pre>
</span></div>
    </li>
</span>
{% endfor %}
  <li>Translated ({{lang.language}}):
    <span class="tooltip" title="Due to bugs in some browsers, non-breaking spaces are displayed as '·' (middot). You should also enter them that way to make sure they get sent to the server. You can generally get it by composing the caret (^) with the space.">Non-breakspace note</span>
    <span class="tooltip" title="Debian policy states that lines without leading spaces may be wrapped by user-agents. So for lists, make sure you include a leading space to avoid splattered text.">Textwrapping note</span>
    <br />
    <textarea name="long"  rows="10" cols="75" onchange="document.forms[0].submit.disabled=0" wrap="hard">{{trans.display_long}}</textarea></li>
<!-- new translation comments from messages -->
<div class=trans_messages>
    <h6>Comments for this translation</h6>
    {% for message in trans_messages %}
    {% if forloop.first %}
    <table>
      <tr>
        <th>User
        <th>Action
        <th>Message
    {% endif %}
      <tr>
        <td><span style="font-size:80%">{{message.from_user}} at {{message.datetime|date:"Y-m-d H:i:s"}}</span>
        <td><span style="font-size:80%">{{message.actionstring}}</span>
        <td>{% if message.message %}
            <span title="{{message.parent.message}}">{{message.message|linebreaksbr}}</span><br>
            {% endif %}
    {% if forloop.last %}
    </table>
    {% endif %}
    {% endfor %}
</div>
<!-- end new translation comments from message -->
    <textarea name="comment"  rows="4" cols="75"></textarea>
</ul>
{% if forreview %}
<input type="submit" name="accept" value="Accept as is" />
<input type="submit" name="submit" id="submit" value="Accept with changes" />
<input type="submit" name="nothing" value="Change comment only" />
<input name="timestamp" type="hidden" value="{{trans.lastupdate}}" />
<br />
'Accept as is' means you agree with this translation.
'Accept with changes' means you made changes.
In that case the review process will start again.
{% else %}
<input type="submit" name="abandon" value="Abandon" />
<input type="submit" name="submit" id="submit" value="Submit" />
{% endif %}
<!-- This is a hidden field which on many browsers is automatically filled
in with the charset of the submitted form. Useful to check browsers are
actually returning UTF-8 as promised -->
<input type="hidden" name="_charset_" value=""  />
</form>

</td><td valign="top">

<!-- new description comments per Messages -->
<div class=descr_messages>
    <h2>Comments for this description</h2>
    <small>Shared between languages, for talking <i>about</i> this description.</small><br>
    {% for message in descr_messages %}
    {% if forloop.first %}
    <ul>
    {% endif %}
        <li>
            {% if message.message %}
            <span
            title="{{message.parent.message}}">{{message.message|linebreaksbr}}</span><br>
            {% endif %}
            <span style="font-size:80%">
                {{message.actionstring}}
                {% if message.from_user %}
                from {{message.from_user}}
                {% endif %}
                at {{message.datetime|date:"Y-m-d H:i:s"}} {% if message.message %}<a href="{% url ddtss_delmessage message.message_id %}">Delete</a>{% endif %}
                <a class="messagelink" target="_blank" href="{% url ddtss_message_descr descr.description_id %}?in_reply_to={{message.message_id}}">Reply</a>
            </span>
        </li>
    {% if forloop.last %}
    </ul>
    {% endif %}
    {% endfor %}
    <a class="messagelink" target="_blank" href="{% url ddtss_message_descr descr.description_id %}">New comment</a>
</div>
<!-- end new description comments per Messages -->

</td>
</table>
<p>
{% endblock %}
