{% extends "ddtss/base_ddtss.html" %}

{% block title %}
DDTSS User Preferenc {{user.realname}} ({{user.username}})
{% endblock %}

{% block content %}
<h1>DDTSS User Preference {{user.realname}} ({{user.username}})</h1>
<p>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
<p>
{% endif %}
<form method="post" action="{% url ddtss_preference %}" enctype="multipart/form-data">
<table id="login">
{{form}}
</table>
<input type="submit" name="submit" value="Submit" />
<input type="submit" name="cancel" value="Cancel" />
</form>
<p>
<h2>the collection of the user milestone user:{{user.username}}</h2>
        <ul>
    {% for collectionmilestone in collectionmilestones %}
    <li>{{ collectionmilestone.collection }} <a href="{% url ddtss_delusermilestone collectionmilestone.collection %}">
        <img src="/media/user_milestone-minus.png" alt="Hight" title="remove from user milestone" height="15"></a> </li>
    {% endfor %}
        </ul>
{% endblock %}
